[Desktop Entry]
Name=Prism Launcher
Comment=Minecraft Launcher
Exec=/Prism/PrismLauncher
Icon=org.prismlauncher.PrismLauncher
Terminal=false
Type=Application
Categories=Game;
