[Desktop Entry]
Name=Arduino
Comment=Arduino IDE
Exec=/opt/arduino/arduino-ide
Icon=arduino
Terminal=false
Type=Application
Categories=Development;
StartupWMClass=arduino ide
