[Unit]
Description=Sunshine GameStream Host
After=graphical-session.target
Wants=graphical-session.target

[Service]
ExecStart=/usr/local/bin/mesa /usr/local/bin/sunshine
Restart=on-failure

[Install]
WantedBy=graphical-session.target
